@{
    ViewBag.Title = "Contact";
}





<div class="jumbotron basicPagesDiv">
    <h2>@ViewBag.Title.</h2>
    <address>
        University Way<br />
        London, E16 2RD<br />
        <abbr title="Phone">P:</abbr>
        020 8223 3000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:evoting@Support.com">evoting@Support.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:evoting@Marketing.com">evoting@Marketing.com</a>
    </address>

</div>
