@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron basicPagesDiv">
    <h1 style="text-align:center">Online Voting System</h1>
    <p class="lead">
        Online voting – or e-voting (electronic voting) – makes use of the Internet, SMS, or other digital services in order to cast a democratic vote.

        An online voting system is a software platform that allows groups to securely conduct votes and elections. High-quality online voting systems balance ballot security, accessibility, and the overall requirements of an organization's voting event.

        At their core, online voting systems protect the integrity of your vote by preventing voters from being able to vote multiple times. As a digital platform, they eliminate the need to gather in-person, cast votes using paper, or by any other means (e.g. email, insecure survey software).
    </p>
    <p><a class="submit learnMoreBtnHome">Learn more &raquo;</a></p>
</div>

