
@{
    ViewBag.Title = "Graphs";
}


<html xmlns="http://www.w3.org/1999/xhtml">


    <head>
        <script src="~/Scripts/Chart.min.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <style>
            #chart_container{
                width:600px;
                height:600px;
                border:1px solid #ddd;
                padding:1px;
                border-radius:4px;
                color:white;
                margin:auto;
                margin-top:40px;
                
            }

        </style>
    </head>

@{ 
    var winningCandidate = ViewBag.winningCandidate;
}

    <body>

        <div class="dashboard">
            
            <div id="chart_container">

            
                <canvas id="bar_chart"></canvas>

            </div>
            <h2 class="jumbotron winCandText">The current winning candidate is  <b>"@winningCandidate"</b></h2>

        </div>

        <script>
            var nameArray = @Html.Raw(Json.Encode(ViewBag.name));
            var voteArray = @Html.Raw(Json.Encode(ViewBag.vote));

            var ctx = $("#bar_chart");
            var bacChart = new Chart(ctx, {

                type: 'bar',
                data: {

                    labels: nameArray,
                    datasets: [{
                        label: ' Votes Received',
                        
                        data: voteArray,
                        backgroundColor: ['rgba(235, 192, 62, 1)',
                            'rgba(185, 233, 39, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)'],
                        borderColor: ['rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)'],
                        borderWidth: 1,
                    }]


                },

                options: {
                  
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "white",
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: "white"
                            }
                        }]
                    },
                    maintainAspectRatio: false,
                    legend: { position: 'top', }, title: {
                        display: true,
                        text: 'President Candidate results',
                        fontColor: "white",
                    }
                },

            });



        </script>


    </body>


</html>




