
@{
    ViewBag.Title = "Graphs";
}

<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        #chart_container {
            width: 600px;
            height: 350px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
            margin: auto;
            margin-top: 40px;
        }
    </style>
</head>

@{
    var winningCandidate = ViewBag.winningCandidate;
}

<body>

    <div class="dashboard">

        <div id="chart_container">

            <canvas id="pie-chart"></canvas>

        </div>
        <h2 class="winCandText">The current winning candidate is <b>"@winningCandidate"</b></h2>

    </div>
    <script>

            var nameArray = @Html.Raw(Json.Encode(ViewBag.name));
            var voteArray = @Html.Raw(Json.Encode(ViewBag.vote));


            var bacChart = new Chart(document.getElementById("pie-chart"), {
                type: 'pie',
                data: {
                    labels: nameArray,
                    datasets: [{
                        label: ' Votes Received',
                        backgroundColor: ["#19e6af", "#eda839", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: voteArray,
                    }]

                },
                options: {

                    title: {
                        display: true,
                        text: 'Vice President Candidate results',
                        fontColor: "white",
                    }
                }
            });

    </script>


</body>


</html>

