

.addBox {
    padding: 35px;
}

.rainbow {
    border: double 0.3em transparent;
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 70px;
}
@keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

/*compatibility*/
@-moz-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

@-webkit-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

@-ms-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

@-o-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

.rainbow {
    border: double 0.3em transparent;
    border-radius: 10px;
    /*added a colourstop here, without the third colourstop you get a hard edge*/
    background: linear-gradient(#553340, #193056), repeating-linear-gradient(to right, rgb(82, 82, 209),rgb(235, 50, 235), rgb(82, 82, 209));
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation-name: rainbow;
    animation-duration: 3s;
    /*set animation to continue forever, and to move at a single rate instead of easing*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.basicPagesDiv {
    text-align: center;
    background-color: rgba(247, 247, 247, 0);
}



.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(247, 247,247, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 66px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 66px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}


.accountDiv {
    text-align: center;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #c82be3;
}

.remMe {
    margin-bottom: 15px;
    margin-left: 50px;
}

.bgGradientCustom {
    color: white;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
}

.registerMain {
    width: 450px;
    height: 650px;
    margin-top: 35px;
}

.presentElectionDiv {
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
    font-size: 30px;
}

.presentElectionDiv h1{
    font-size:70px;
}

.voteBtn {
    
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
 
    font-size: 25px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.voteMain {
    height: 700px;
    margin-top: 35px;
}