

.addBox {
    padding: 35px;
}

.rainbow {
    border: double 0.3em transparent;
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 70px;
}
@keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

/*compatibility*/
@-moz-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

@-webkit-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

@-ms-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

@-o-keyframes rainbow {
    from {
        background-position: -100vh 0
    }

    to {
        background-position: 100vh 0
    }
}

.rainbow {
    border: double 0.3em transparent;
    border-radius: 10px;
    /*added a colourstop here, without the third colourstop you get a hard edge*/
    background: linear-gradient(#000428, #004e92), repeating-linear-gradient(to right, #FF4E50, #F9D423);
    
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation-name: rainbow;
    animation-duration: 3s;
    /*set animation to continue forever, and to move at a single rate instead of easing*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.basicPagesDiv {
    text-align: center;
    background-color: rgba(247, 247, 247, 0);
}



.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(247, 247,247, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-left: 66px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-left: 66px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #FF4E50, #F9D423);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #FF4E50;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}


.accountDiv {
    text-align: center;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #FF4E50;
}

.remMe {
    margin-bottom: 15px;
    margin-left: 50px;
}

.bgGradientCustom {
    color: white;
    background: linear-gradient(to right, #000428, #004e92);
}

.registerMain {
    width: 450px;
    height: 650px;
    margin-top: 35px;
}

.presentElectionDiv {
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
    font-size: 30px;
}

.presentElectionDiv h1{
    font-size:70px;
}

.voteBtn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #FF4E50, #F9D423);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.voteMain {
    height: 700px;
    margin-top: 35px;
}

.learnMoreBtnHome{
    margin-left:0;
    font-size: 18px;
    padding:10px 20px 10px 20px;
}

.winCandText {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(92deg, #FF4E50, #F9D423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    border: 1px solid white;
    border-radius: 25px;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


.dashboard {
    width: 600px;
    height: 350px;
    padding: 1px;
    border-radius: 4px;
    margin: auto;

}

@media only screen and (max-width: 968px) {
    .dashboard {margin-top:-65px;    }
}